.header__title {
  background: #ddd;
  margin: 40px auto;
  text-align: center;
}

main {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 300px;
}

.form, .card, .list {
  border: 1px solid white;
  min-height: 700px;
  width: 40%;
}

.list {
  background: lightcoral;
  width: 100%;
}

.list__div {
  margin: 0 auto;
  width: 80%;
}

.list__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__div, .card__div {
  margin: 0 auto;
  min-height: 700px;
  width: 80%;
}

.form__title, .card__title, .list__title {
  margin: 0 auto 20px;
  text-align: center;
}

.form__single {
  background: yellow;
  margin: 0 auto;
  width: 80%;
}

.card__single {
  height: 475px;
  margin: 0 auto;
  position: relative;
  width: 300px;
}

.card__single-list {
  height: 475px;
  margin: 0 20px 20px;
  position: relative;
  width: 300px;
}

.card__bg {
  background: url('./images/card001.png') no-repeat;
  background-size: cover;
  border: 5px double goldenrod;
  border-radius: 20px;
  height: 475px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 100;
}

.card__image {
  height: 180px;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 295px;
  z-index: 50;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__topic {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  left: 20px;
  position: absolute;
  text-shadow: 2px 2px #222;
  text-transform: uppercase;
  top: 9px;
  z-index: 200;
}

.card__name {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 26px;
  font-weight: 900;
  left: 15px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px #222;
  top: 207px;
  transform: rotate(-7deg);
  width: 270px;
  z-index: 200;
}

.card__description {
  left: 20px;
  line-height: 20px;
  position: absolute;
  top: 280px;
  width: 260px;
  z-index: 200;
}

/* eslint-disable-next-line */
.card__attr {
  background: #222;
  border-radius: 20px 0;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  z-index: 200;
}

.card__attr1-label, .card__attr2-label, .card__attr3-label {
  left: 20px;
  padding-left: 20px;
  width: 160px;
}

.card__attr1, .card__attr2, .card__attr3 {
  left: 200px;
  text-align: center;
  width: 80px;
}

.card__attr1-label, .card__attr1 {
  top: 325px;
}

.card__attr2-label, .card__attr2 {
  top: 360px;
}

.card__attr3-label, .card__attr3 {
  top: 395px;
}

.card__rare {
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-weight: 700;
  left: 20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 430px;
  width: 260px;
  z-index: 200;
}

.card__rare-select {
  text-transform: capitalize;
}

.card__super {
  background: url('./images/super.png') no-repeat;
  background-size: cover;
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  left: 210px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  text-transform: capitalize;
  top: 15px;
  white-space: nowrap;
  width: 80px;
  z-index: 200;
}

.card__btn-none {
  display: none;
}

.card__btn-delete-div {
  text-align: center;
}
