body {
  background: #aaa;
}

.header__title {
  margin: 20px 0 0 0;
  text-align: center;
}

main {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 300px;
}

.form, .card, .list {
  /* border: 1px solid white; */
  min-height: 700px;
  width: 40%;
}

.list {
  background: #333;
  color: white;
  width: 100%;
}

.list__div, .filter__div {
  /* background: yellow; */
  margin: 50px auto;
  width: 70%;
}

.filter__div {
  background: #96125D;
  border: 5px double goldenrod;
  border-radius: 10px;
  display: flex;
}

.filter__title {
  margin-left: 20px;
  margin-right: 80px;
}

#formRefSubmit {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  height: 60px;
  margin-top: 5px;
}

#formRefSubmit label {
  margin-left: 20px;
}

#formRefSubmit input {
  margin-top: 10px;
  margin-right: 20px;
}

#formRefSubmit select {
  margin-top: 20px;
  margin-right: 20px;
}

.list__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__div, .card__div {
  margin: 0 auto;
  min-height: 700px;
  width: 80%;
}

.form__title, .card__title, .list__title {
  margin: 0 auto 20px;
  text-align: center;
}

.form__single {
  /* background: yellow; */
  margin: 0 auto;
  width: 80%;
}

.card__single {
  height: 475px;
  margin: 0 auto;
  position: relative;
  width: 300px;
}

.card__single-list {
  height: 475px;
  margin: 0 20px 20px;
  position: relative;
  width: 300px;
}

.card__bg {
  background: url('./images/card001.png') no-repeat;
  background-size: cover;
  border: 5px double goldenrod;
  border-radius: 20px;
  height: 475px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 100;
}

.card__image {
  height: 185px;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 300px;
  z-index: 50;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__topic {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  left: 20px;
  position: absolute;
  text-shadow: 2px 2px #222;
  text-transform: uppercase;
  top: 12px;
  z-index: 200;
}

.card__name {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 26px;
  font-weight: 900;
  left: 15px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px #222;
  top: 216px;
  transform: rotate(-7deg);
  width: 270px;
  z-index: 200;
}

.card__description {
  color: #222;
  left: 20px;
  line-height: 20px;
  position: absolute;
  top: 290px;
  width: 260px;
  z-index: 200;
}

/* eslint-disable-next-line */
.card__attr {
  background: #222;
  border-radius: 20px 0;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  z-index: 200;
}

.card__attr1-label, .card__attr2-label, .card__attr3-label {
  left: 20px;
  padding: 3px 0 3px 20px;
  width: 150px;
}

.card__attr1, .card__attr2, .card__attr3 {
  left: 200px;
  padding: 3px 0;
  text-align: center;
  width: 80px;
}

.card__attr1-label, .card__attr1 {
  top: 335px;
}

.card__attr2-label, .card__attr2 {
  top: 370px;
}

.card__attr3-label, .card__attr3 {
  top: 405px;
}

.card__rare {
  color: #222;
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-weight: 700;
  left: 20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 440px;
  width: 260px;
  z-index: 200;
}

.card__rare-select {
  text-transform: capitalize;
}

.card__super {
  background: url('./images/super.png') no-repeat;
  background-size: cover;
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  left: 210px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  text-transform: capitalize;
  top: 15px;
  white-space: nowrap;
  width: 80px;
  z-index: 200;
}

.card__btn-none {
  display: none;
}

.card__btn-delete-div {
  margin: auto;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 313px;
}

.form-label {
  align-self: center;
  /* background: red; */
  font-size: 18px;
  width: 100px;
}

.form-control, .form-select {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 6px;
  width: 200px;
}

.form-select {
  margin-bottom: 20px;
  width: 216px;
}

.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  border-radius: 10px;
  display: block;
  font-size: 18px;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
}

#formRef {
  /* background: green; */
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px
}

.logo {
  width: 200px;
}

.form-check-input {
  transform: scale(1.7);
  margin-left: 13px;
  padding: 5px;
}
